---
layout: base.njk
---
{% from "blocos.njk" import mostrarBlocos %}
<article class="sobre">
  {% if foto %}<img class="foto" src="{{ foto }}" alt="Foto de {{ title }}">{% endif %}
  <h1>{{ title }}</h1>
  {{ mostrarBlocos(blocos, page.inputPath | arquivo) }}
</article>
